/* src/styles/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
